:root {
    --main-color: #f39c12;
    --dark: #1e1e1e;
    --light-dark: #2c2c2c;
    --bg: #f4f4f4;
    --white: #ffffff;
}

/* Body */
body {
    background: var(--bg);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    padding: 10px 20px;
}

.logo img {
    width: 160px;
    border-radius: 50%;
}

/* Search */
.search input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: var(--white);
    cursor: pointer;
}

.search button:hover {
    background-color: #d68910;
}

/* Links */
.links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.links a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    color: var(--main-color);
}

/* Headings */
h1, h2 {
    text-align: center;
    margin: 20px 0;
    color: var(--dark);
}

/* Paragraph */
p {
    text-align: center;
    width: 70%;
    margin: auto;
    color: #030303;
}

/* Buttons */
button {
    display: block;
    margin: 15px auto;
    padding: 12px 25px;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d68910;
}

/* Table */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: var(--dark);
    color: var(--white);
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Links inside table */
td a {
    color: var(--dark);
}

td a:hover {
    color: var(--main-color);
}

/* Footer */
.footer {
    background-color: var(--dark);
    color: var(--white);
    padding: 30px;
    margin-top: 40px;
}

.footer p {
    color: #ccc;
}

.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social img {
    width: 40px;
    transition: 0.3s;
}

.social img:hover {
    transform: scale(1.1);
}



.btn-delete {
     padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: var(--white);
    cursor: pointer;  
}

.btn-delete:hover {
    background: #d68910; 
}
