* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #FAF3E0;
}

.navbar {
    background-color: #361E15;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.logo img {
    height: 60px;
    width: auto;
}

.search-input {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    width: 280px;
    font-size: 0.9rem;
}

.main-body{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 50px;
}





.image-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    gap: 10px;
    align-items: center;
    
}
.btn-borrow{
    
    text-decoration: none;
    background-color: #B85C38;
    padding: 12px 35px;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    transition: background 0.3s;
    margin-top: auto;
    /* align-self: center; */
    width:auto;
    /* margin: 5px 0px; */
}
.btn-buy{
    
    text-decoration: none;
    background-color: #B85C38;
    padding: 12px 35px;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    transition: background 0.3s;
    margin-top: auto;
    /* align-self: center; */
    width:auto;
    /* margin: 5px 0px; */
}
.btn-buy:hover {
    background-color: #2D2424;
    transform: scale(1.02);
}
.btn-borrow:hover {
    background-color: #2D2424;
    transform: scale(1.02);
}

.Stars input{
    display: none;
}
.Stars label{
    font-size: 30px;
    padding: 0 2px;
    color :#ccc;
    /* border: orange; */
    cursor: pointer;
    transition: color 0.2s;
    margin: 5px 0px;
}
.Stars label:hover ~ label{
    color: orange;
}
.Stars input:hover ~ label{
    color: orange;
}
.Stars input:checked ~ label{
    color: orange;
}


.Stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    /* position: relative;
    left : 90px ; */
}
.sent-rate{
    margin: -5px 0px;
    display: flex;
    align-items: center;
    color: #361E15;
    
    /* position: relative;
    left : 103px ; */
}

.book-cover {
    width: 250px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    margin-bottom: 15px;
    
}



/* .right-section-of-body{
    padding: 30px;
}



.book-title {
    margin-bottom: 10px;
    font-family: Copernicus;
    font-size:3rem;
    line-height: 3rem;
    font-weight: 600;
    color: #1a1a1a;
}
.author-link{
    font-size:1.56rem;
    color: #563d2d;
    text-decoration: none;
    font-weight: 500;
    margin-: 15px;
} */

.right-section-of-body {
    /* padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px; */

    flex:1;
    display: flex;
    flex-direction: column;

    gap: 25px;



}




.right-section-of-body > div {
    margin-left: 30px;
    background: #ffffff99;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.book-title {
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-family:Copernicus ;
}

.author-link {
    font-size: 1.1rem;
    display: inline-block;
    text-decoration: none;
    color: #777;
    background-image: linear-gradient(#B85C38, #B85C38);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;

    margin-bottom: 10px;
    transition: all 0.4s ease;
}
.author-link:hover{
    background-size: 100% 1.5px;
    color: #B85C38;
}

.final-rating {
    color: #f4b400;
    font-size: 2rem;
}

.rating-fraction {
    color: #000000;
    font-size: 1.6rem;
}

.rating-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Description{
    flex-grow: 1;
}
.Description p {
    line-height: 1.7;
    color: #444;
    margin-top: 10px;
}

.info-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.label {
    font-weight: 600;
    color: #000;
}

.value {
    color: #555;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-list span {
    margin-top: 15px;
    background: #eee;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    cursor:pointer;
}

.category-list span:hover {
    background-color: #b85c38aa;
}

.book-title::after {
    content: "";
    display: block;
    width: 25%;
    height: 4px;
    background: #B85C38;
    margin-top: 10px;
    border-radius: 2px;
}