body
{
    /*background: linear-gradient(225deg, #0f3d40 0%, #0a1112 100%);*/
    background: linear-gradient(255deg, #F1EBDD 0%, #b4aea6 50%, #868480 100%);

    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

}
h2
{
    margin: 0 auto 50px auto;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
.container
{
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    width: 800px;
    max-width: 90%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.container::selection
{
    background-color: #fed7aa;
}
.container .image
{
    /*width: 40%;*/
    /*background-size: cover;*/
    flex: 1;
    line-height: 0;
    position: relative;
    overflow: hidden;
}


.container .image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.container .text
{
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative
}

input[type="email"],
input[type="password"] {
    width: 93%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
#fyourpass
{
    position: absolute;
    right: 2%;
    text-decoration: none;
    color: #111111;
    margin: -2px  ;
}
#fyourpass:hover
{
    text-decoration: underline;
}
button {
    background-color: #111;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.DHave a{
color: #111;
    text-decoration: none;
}
.DHave a:hover {
    text-decoration: underline;
}






