/*.container*/
/*{*/
/*    background-color: rgba(0, 0, 0, 0.4);*/
/*    !*border-radius: 10px;*!*/
/*    color: white;*/
/*    border-left: 5px #eeeeee solid;*/
/*    width: 40%;*/
/*    height: 40%;*/
/*    margin: 10% auto;*/
/*    padding: 30px;*/
/*    text-align: center;*/
/*    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, "DM Serif Text","Bradley Hand ITC", "Baumans", system-ui;*/
/*    transition: 0.5s 0.2s transform ease-in;*/

/*}*/
/*.log-2*/
/*{*/
/*    padding: 50px;*/
/*    margin: 15% auto 0;*/
/*    border-left: 6px solid #3E2723;*/
/*    border-top: 6px solid #5D4037;*/
/*    border-right: 6px solid #8D6E63;*/
/*    border-bottom: 6px solid #D7CCC8;*/
/*}*/
/*a{*/
/*    text-decoration: none;*/
/*}*/
/*h2*/
/*{*/
/*    transition: 1s 0.1s transform ease-in;*/

/*}*/

/*h2:hover*/
/*{*/
/*    transform: translateX(5px) translateY(-5px)  ;*/
/*}*/
/*body*/
/*{*/
/* background-color: #eeeeee;*/
/*    background-image: url("Picture/booksbackground.jpg");*/
/*    background-size: cover;*/
/*}*/

/*.link*/
/*{*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

/*a:hover*/
/*{*/
/*    border-bottom: 1px solid #80465b;*/
/*}*/
/*.container:hover*/
/*{*/
/*    transform: scale(102%);*/
/*}*/
/*.container **/
/*{*/
/*    margin-top: 5px;*/
/*}*/
/*.btn {*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin-top: 10px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    font-weight: bold;*/
/*    text-decoration: none;*/
/*    transition: 0.3s;*/
/*}*/

/*.btn-primary {*/
/*    background-color: #571d35;*/
/*    color: white;*/
/*}*/

/*.btn-outline {*/
/*    background-color: transparent;*/
/*    border: 1px solid #eeeeee;*/
/*    color: white;*/
/*}*/

/*.btn:hover {*/
/*    filter: brightness(1.2);*/
/*}*/

/*#FURP*/
/*{*/
/*    !*margin-left: 300px;*!*/
/*    margin: -50px 0 0 300px;*/
/*    color: #FFFFFF;*/
/*}*/

body
{
    background: linear-gradient(135deg, #0f3d40 0%, #0a1112 100%);
    min-height: 100vh;
    margin: 0;
}

.container
{
    background-color: white;
}










