<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="{% static 'book-details.css' %}">
</head>
<body class="details-page">
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/main/">
                    <img src="{% static 'Picture/ddfgd.png' %}" alt="logo">
                </a>
            </div>
            <div class="nav-links">
                <a href="/available_books_user/">Browse Books</a>
                <a href="/borrowed_books/">My Borrowed Books</a>
                <a href="/MainPage/">Log out</a>
            </div>
        </nav>
    </header>

    <div class="main-body">
        <div class="left-section-of-body">
            <div class="image-section">
                <img src="" alt="cover" class="book-cover" id="bookCover">
                <button class="btn-borrow" id="borrowBtn">Borrow the book</button>
                <a href="#" class="btn-buy" id="amazonLink" target="_blank">Buy from Amazon</a>
            </div>
        </div>

        <div class="right-section-of-body">
            <div class="title-info">
                <h1 class="book-title" id="bookTitle">Loading...</h1>
                <span>By: </span><a href="#" target="_blank" class="author-link" id="authorName">Loading...</a>
            </div>
            <div class="Description">
                <h3>Description:</h3>
                <p id="bookDesc">Loading description...</p>
            </div>
            <div class="info-group">
                <div class="info-row">
                    <h3 class="label">Release Date:</h3>
                    <p class="value" id="releaseDate">-</p>
                </div>
                <div class="info-row">
                    <h3 class="label">Written language:</h3>
                    <p class="value" id="bookLang">-</p>
                </div>
            </div>
            <div class="category">
                <h3>Categories:</h3>
                <div class="category-list" id="categoryList"></div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
    <script src="{% static 'book_details.js' %}"></script>
</body>
</html>
<style>
    .btn-borrow {
        background-color: #361E15 !important;
    }
</style>