<!DOCTYPE html>
<html>
    <head>
        <title>
            Library-Main page
        </title>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel = "stylesheet" href = "{%static 'MainPage.css'%}">
    </head>    

    <body>
    <nav>
        <ul>
<!--            <li><a href="#">Browse Books</a></li>-->
<!--            <li><a href="#">My Borrowed Books</a></li>-->
<!--            <li><a href="#">Admin Dashboard</a></li>-->
           <li> <a href="/Login/" id="Login1">Sign in</a></li>
          <li><a href="/CAACC/" id="Login2">Sign Up</a></li>
        </ul>
    </nav>

    <div class="hero-section">
        <div class="leftside">
            <div class="title-line"></div>
            <div class="quote-decor">“</div>
            <div class="corner-decor"></div>
            <div class="side-word">ARCHIVES</div>

            <h1 id="leftH">Library of Timeless Wisdom</h1>
            <p id="leftP">
                “Welcome, seeker of wisdom, to a treasury of timeless knowledge, where the voices
                of ages past whisper through every page. Within these digital halls lie chronicles,
                poems, teachings, and tales gathered from many realms of thought. Enter freely, wander
                boldly, and uncover the riches of learning,
                for here the lamp of knowledge is ever lit.”
            </p>

            <div class="auth-links">

            </div>
        </div>

        <div class="rightside"></div>
    </div>



    <div class="container">
        <div class="footer autoShow">
            <div class="social">
                <div class="card">
                    <a href="https://www.facebook.com/share/1NTinaAZPG/" target="_blank">
                        <img src="{% static 'Picture/Face.webp' %}" alt="Facebook Link">
                    </a>
                </div>
                <div class="card">
                    <a href="#" target="_blank">
                        <img src="{% static 'Picture/Instagram.webp' %}" alt="Instagram Link">
                    </a>
                </div>
                <div class="card">
                    <a href="https://wa.me/201146310227" target="_blank">
                        <img src="{% static 'Picture/whatsapp.png' %}" alt="WhatsApp Link">
                    </a>
                </div>
            </div>

            <div class="rights">
                <p>
                    Za3bola Reads is optimized for learning and training. Examples might be simplified to improve reading and learning.
                    Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness
                    of all content.
                    <br>While using Za3bola Reads, you agree to have read and accepted our terms of use, cookies and privacy policy.
                </p>
                <h5>
                    Copyright 1901-2090 by Refsnes Data. All Rights Reserved. Za3bola Reads is Powered by A.4M.k.
                </h5>
            </div>
        </div>
    </div>
    <script src="{%static 'MainPage.js'%}" ></script>
</body>
</html>