:root {
    --main-color: #f39c12;
    --dark: #1e1e1e;
    --light-dark: #2c2c2c;
    --bg: #f4f4f4;
    --white: #ffffff;
}

/* Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 90vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FAF3E0;
}
/* body {
    background: var(--bg);
    margin: 0;
    font-family: Arial, sans-serif;
} */

/* Navbar */
/* .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #551004;
    padding: 10px 20px;
} */

/* .logo img {
    width: 160px;
    border-radius: 50%;
} */

/* Search */
/* .search input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
} */

/* .search button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: var(--white);
    cursor: pointer;
} */

/* .search button:hover {
    background-color: #d68910;
} */

/* Links */
/* .links ul {
    list-style: none;
    display: flex;
    gap: 20px;
} */

/* .links a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
} */

/* .links a:hover {
    color: var(--main-color);
} */

header {
    background-color: #361E15;
    padding: 1rem 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.logo img {
    height: 60px;
    width: auto;
}


.nav-links {
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
    padding: 5px 0;
    white-space: nowrap;
    letter-spacing: 0.3px;
}

.nav-links a:hover {
    color: #D4896A;
}

.nav-links a.active {
    color: #D4896A;
}


.search {
    display: flex;
    align-items: center;
}

.search form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search label {
    color: white;
    font-size: 0.9rem;
}

.search input {
    padding: 8px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    width: 220px;
    font-size: 0.9rem;
    background-color: #FAF3E0;
}

.search input:focus {
    background-color: #FFFFFF;
}

.search button {
    padding: 8px 18px;
    border: none;
    border-radius: 25px;
    background-color: #D4896A;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.search button:hover {
    background-color: #FFFFFF;
    color: #361E15;
}


/* Headings */
h1, h2 {
    text-align: center;
    margin: 20px 0;
    color: var(--dark);
}

/* Paragraph */
p {
    text-align: center;
    width: 70%;
    margin: auto;
    color: #030303;
}

/* Buttons */
button {
    display: block;
    margin: 15px auto;
    padding: 12px 25px;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d68910;
}

/* Table */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

/* th {
    background-color: #551004;
    color: var(--white);
    padding: 12px;
} */

th {
    background-color: #551004; 
    color: #FFFFFF;
    padding: 12px;
    border-radius: 8px 8px 0 0; 
    border: none;
}


td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Links inside table */
td a {
    color: var(--dark);

}

td a:hover {
    color: var(--main-color);
}


/* Footer */
.footer {
    background-color: var(--dark);
    color: var(--white);
    padding: 30px;
    margin-top: 40px;
}

.footer p {
    color: #ccc;
}

.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social img {
    width: 40px;
    transition: 0.3s;
}

.social img:hover {
    transform: scale(1.1);
}



.btn-delete {
     padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: var(--white);
    cursor: pointer;  
}

.btn-delete:hover {
    background: #d68910; 
}
