
body {
    background: linear-gradient(255deg, #F1EBDD 0%, #b4aea6 50%, #868480 100%);
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}


.logo {
    display: flex;
    align-items: center; 
}

.logo img {
    width: 180px;   
    border-radius: 50%;
    /* background-color: #2c2c2c; */
    
    display: block;

}

.search input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.search button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: white;
    cursor: pointer;
}
 
.search button:hover {
    background-color: #e67e22;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    color: #f39c12;
}


h1, h2 {
    text-align: center;
    margin: 20px 0;
}


p {
    text-align: center;
    width: 70%;
    margin: 0 auto 20px auto;
}


button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #2c2c2c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #f39c12;
}


table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #868480;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #1d1f19;
    font-weight: bold;
}

a:hover {
   color: #f39c12;
}